{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.2.4/fabric.min.js"></script>
    <link rel="stylesheet" href="{% static 'image_processing/css/show_image.css' %}">
    <link rel="shortcut icon" href="https://img.icons8.com/?size=100&id=20620&format=png&color=000000" type="image/png">
    <title>{{ image.title }}</title>
</head>
<body>
    <header class="header">
        <div class="block_header_log">
            <img src="{% static 'image_processing/images/icon.svg' %}" alt="Логотип">
            <a href="{% url 'image_processing:upload' %}"> <h3>Еликор</h3></a>
        </div>
    </header>
    <main>
        <div class="content">
            <h1>Редактирование КТ-снимка {{ image.title }}</h1>
            <canvas id="canvas" width="500" height="500"></canvas>
            <button id="draw">Режим рисования</button>
            <button id="erase">Режим ластика</button>
            <button id="save">Сохранить изменения</button>
        </div>
    </main>
    <footer class="footer">
        <div class="footer_block_logo">
            <div class="block_header_log">
                <img src="{% static 'image_processing/images/icon.svg' %}" alt="Логотип">
                <a href="{% url 'image_processing:upload' %}"> <h3>Еликор</h3></a>
            </div>
            <div class="email_website">@example.com</div>
       </div>
    </footer>

    <script>
        const canvas = new fabric.Canvas('canvas');
        let polygon;

        // Функция для загрузки изображения и контура
        function loadImageAndContour(ktImageUrl, contourPoints) {
            // Загружаем КТ-снимок
            fabric.Image.fromURL(ktImageUrl, function(img) {
                img.scaleToWidth(canvas.width);
                img.selectable = false; // Делаем изображение недоступным для выделения
                canvas.setBackgroundImage(img, canvas.renderAll.bind(canvas));
            });

            // Создаем полигон из точек
            polygon = new fabric.Polygon(contourPoints, {
                fill: 'transparent',
                stroke: 'red',
                strokeWidth: 3,
                selectable: true,
                erasable: true // Разрешаем стирание полигона
            });
            canvas.add(polygon);
        }

        // Преобразуем данные контура из Django
        const rawPoints = JSON.parse('{{ image.contours|escapejs }}');
        const contours = rawPoints.map(([x, y]) => ({ x, y }));

        // Загружаем изображение и контур
        const ktImageUrl = "{{ image.original_url }}";
        loadImageAndContour(ktImageUrl, contours);

        // Включаем режим рисования
        document.getElementById('draw').addEventListener('click', () => {
            canvas.isDrawingMode = true;
            canvas.freeDrawingBrush = new fabric.PencilBrush(canvas);
            canvas.freeDrawingBrush.color = 'red';
            canvas.freeDrawingBrush.width = 4;
        });

        // Включаем режим стирания
        document.getElementById('erase').addEventListener('click', () => {
            canvas.isDrawingMode = false;
            canvas.eraserBrush = new fabric.EraserBrush(canvas);
            canvas.eraserBrush.width = 20; // Ширина ластика
        });

        // Сохранение изменений
        document.getElementById('save').addEventListener('click', () => {
            const editedDataURL = canvas.toDataURL();

            fetch("{% url 'image_processing:save_edited_image' image.id %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ image: editedDataURL })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();  // Пытаемся получить ответ в формате JSON
                }
                throw new Error('Ошибка сохранения');
            })
            .then(data => {
                // Если редирект нужно выполнить на основе данных ответа
                if (data.redirect_url) {
                    window.location.href = data.redirect_url;  // Перенаправление
                } else {
                    alert('Изменения сохранены, но редирект не был предоставлен.');
                }
            })
            .catch(error => {
                console.error('Ошибка при сохранении:', error);
                alert('Ошибка при сохранении');
            });
        });

        document.addEventListener('keydown', function(event) {
            if (event.key === 'Delete') {
                const activeObject = canvas.getActiveObject();
                if (activeObject) {
                    canvas.remove(activeObject);
                }
            }
        });
    </script>
</body>
</html>
